@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

$main: #22a8ba;
$deep: #1b5c79;
$dark: #1e2434;
$maingray: #333333;
$graytext: #999999;

.list-article {
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  overflow: hidden;

  .extra-container {
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
