@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.about-us {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */

  width: 100%;
  padding: 50px 0px;
  overflow: hidden;
}

.about-us ::-webkit-scrollbar {
  display: none;
  width: 5px;
  position: absolute;
}

.about-us ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.493);
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.493);
  border-radius: 10px;
}

.about-us ::-webkit-scrollbar-thumb {
  background: #22a8ba;
  border-radius: 10px;
}

.about-us ::-webkit-scrollbar-thumb:hover {
  background: #1b5c79;
}

.about-us__wrapper {
  background-size: cover;
}

.about-us__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}

.about-us__title h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  color: #22a8ba;
}

@media (min-width: 576px) {
  .about-us__title h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .about-us__title h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .about-us__title h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .about-us__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.about-us__content__thumbnail {
  z-index: 2;
  background: #e0e0e0;
  -webkit-box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
}

.about-us__content__thumbnail picture {
  height: 100%;
}

.about-us__content__thumbnail picture img {
  border-radius: 20px;
  height: 80vw;
  width: 80vw;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 576px) {
  .about-us__content__thumbnail picture img {
    height: 60vw;
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .about-us__content__thumbnail picture img {
    height: 30vw;
    width: 30vw;
    max-width: 500px;
    max-height: 500px;
  }
}

.about-us__content__list {
  background: #e0e0e0;
  -webkit-box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
}

.about-us__content__list__wrapper {
  background: #e0e0e0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 10px;
  width: 80vw;
}

@media (min-width: 576px) {
  .about-us__content__list__wrapper {
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .about-us__content__list__wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    height: 30vw;
    max-width: 500px;
    max-height: 500px;
  }
}

.about-us__content__list__item picture img {
  border-radius: 20px;
  height: 25vw;
}

@media (min-width: 768px) {
  .about-us__content__list__item picture img {
    height: 10vw;
  }
}

.about-us__content__detail {
  width: 80vw;
  overflow-y: scroll;
}

@media (min-width: 576px) {
  .about-us__content__detail {
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .about-us__content__detail {
    width: 30vw;
    height: 30vw;
    max-width: 500px;
    max-height: 500px;
  }
}

.about-us__content__detail__title h3 {
  margin: 5px;
  font-style: normal;
  font-weight: 900;
  font-size: 5vw;
  line-height: 5vw;
  color: #22a8ba;
}

@media (min-width: 576px) {
  .about-us__content__detail__title h3 {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }
}

@media (min-width: 768px) {
  .about-us__content__detail__title h3 {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media (min-width: 992px) {
  .about-us__content__detail__title h3 {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}

.about-us__content__detail__desc {
  margin-bottom: 10px;
  max-width: 450px;
}

.about-us__content__detail__desc p {
  margin: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 4.7vw;
  color: #999999;
}

@media (min-width: 576px) {
  .about-us__content__detail__desc p {
    font-size: 3vw;
    line-height: 4.5vw;
  }
}

@media (min-width: 768px) {
  .about-us__content__detail__desc p {
    font-size: 1.5vw;
    line-height: 2vw;
  }
}

@media (min-width: 992px) {
  .about-us__content__detail__desc p {
    font-size: 1.2vw;
    line-height: 2vw;
  }
}

.about-us__content__detail__button button {
  background-color: #22a8ba;
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  line-height: 3vw;
  padding: 2vw;
  border: none;
  border-radius: 10px;
  /* identical to box height */
  color: #ffffff;
}

@media (min-width: 576px) {
  .about-us__content__detail__button button {
    font-size: 2.5vw;
    line-height: 2.5vw;
    padding: 1.8vw;
  }
}

@media (min-width: 768px) {
  .about-us__content__detail__button button {
    font-size: 1.3vw;
    line-height: 1.3vw;
    padding: 1.2vw;
  }
}

@media (min-width: 992px) {
  .about-us__content__detail__button button {
    font-size: 1vw;
    line-height: 1vw;
  }
}
/*# sourceMappingURL=AboutUs.css.map */
