.swiper-button-prev {
  padding: 40px 40px;
  background: #fff;
  box-shadow: 20px 20px 60px rgba(190, 190, 190, 0.5),
    -20px -20px 60px rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
.swiper-button-next {
  padding: 40px 40px;
  background: #fff;
  box-shadow: 20px 20px 60px rgba(190, 190, 190, 0.5),
    -20px -20px 60px rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
